@import "evil-front"

$blue: #4787ed

+evil-reset

body, input
  font-family: Cuprum, sans-serif
  font-size: 20px

body
  background: #f8f8f8

.center-content
  width: 600px
  margin: 0 auto
  padding: 10px

.title-section
  position: relative
  padding-left: 50px + 10px
  margin: 30px 0 30px 0
  .logo
    +size(50)
    position: absolute
    top: 0
    left: 0
  .name
    padding-top: 4px
    font-size: 42px
    line-height: 1
  .desc
    font-size: 20px
    color: #555

.example-section
  padding-left: 50px + 10px
  .text-input
    border: none
    height: 34px
    line-height: 1
    padding: 0 8px
    width: 240px
    margin-left: -8px
    box-shadow: 0 1px 8px black(0.2)
    color: black
    background: white
    border-radius: 2px
    position: relative
    z-index: 2
  .case, .name
    +height(34px)
  .form
    position: relative
  .cases
    padding-top: 26px
  .case
    position: relative
    color: #333
  .name
    position: absolute
    top: 1px
    right: 100%
    margin-right: 11px
    font-size: 15px
    color: $blue
  .labels, .genders
    margin-left: -8px
  .gender-link, .label
    display: inline-block
    font-size: 15px
    padding: 0 8px
    color: #bbb
    +height(32px)
  .is-changable .label, .gender-link
    transition: background 200ms, color 200ms
    cursor: pointer
    border-radius: 0 0 2px 2px
    transform-origin: 50% 0
    &:hover
      background: #eee
      color: #aaa
    &:active
      transform: scale(0.95)
      transition: none
  .label.is-used, .gender-input:checked + .gender-link
    color: #333
    &:hover
      color: #222
  .gender-input
    display: none
